# Ignorar el directorio node_modules y su contenido
/Clase_5/proyecto_node/node_modules/node_modules
# Ignorar el directorio node_modules y su contenido, en cada proyecto o carpeta que haga en este curso
**/node_modules
**/GERMAN
